[dac084S085 stepper_digipot]
enable_pin: PD2
spi_bus: spi0
scale: 2.5
channel_a: 1.5
channel_b: 1.5
channel_c: 1.5
channel_d: 1

# [extruder2]
# step_pin: PB12
# dir_pin: !PB13
# enable_pin: !PD8
# microsteps: 32
# heater_pin: PC21
# sensor_pin: PC28

# [extruder3]
# step_pin: PB15
# dir_pin: !PB16
# enable_pin: !PD9
# microsteps: 32
# heater_pin: PA29
# sensor_pin: PB25

[mcu]
serial: /dev/ttyAMA0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1000
max_z_velocity: 20
max_z_accel: 100

[stepper_x]
step_pin: PB24
dir_pin: !PB25
enable_pin: !PA15
rotation_distance: 16
microsteps: 32 # number of microstep 16, 32
endstop_pin: ^!PC5
position_min: -30
position_endstop: -30
position_max: 220
homing_speed: 50

[stepper_y]
step_pin: PB22
dir_pin: !PB23
enable_pin: !PC28
rotation_distance: 16
microsteps: 32
endstop_pin: ^!PC3
position_min: -8
position_endstop: -8
position_max: 220
homing_speed: 50

[stepper_z]
step_pin: PB20
dir_pin: PB21
enable_pin: !PA29
rotation_distance: 4
microsteps: 32
endstop_pin: ^!PC2
position_min: -1
position_endstop: 0
position_max: 240

[extruder]
step_pin: PB18
dir_pin: PB19
enable_pin: !PC27
microsteps: 32
rotation_distance: 7
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PA19
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC25
control: pid
pid_Kp: 15.572
pid_Ki: 0.446
pid_Kd: 136.064
min_temp: 0
max_temp: 270

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA8
control: pid
min_temp: 0
max_temp: 130
pid_Kp: 73.517
pid_Ki: 1.132
pid_Kd: 1193.728

# [extruder1]
# enable_pin: !PD6
# microsteps: 32
# heater_pin: PC22
# sensor_pin: PA29
# step_pin: PB17
# dir_pin: !PB14

[fan]
pin: PA7

# [heater_fan fan1]
# pin: PA5

[static_digital_output DRV8825_microstepping]
pins: PC10
pins: PC29
pins: PC19
pins: PC18
